.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
	background:brown;
}

.navbar-brand img {
	height: 4rem;
}
.navbar-nav li {
	padding-right: 0.7rem;
}



























footer {
	background-color: brown;
	color: white;
	padding: 2rem 0 2rem;
	margin-top: 0.8rem;
}
footer a {
	color: white;
}
footer svg.svg-inline--fa {
	font-size: 2rem;
	margin: 1.2rem 1rem 0 0;
}

footer svg.svg-inline--fa:hover {
	color: #1ebba3;
}